/* Global Styles */
html, body {
  	width: 100%;
  	height: 100%;
  	background-color: #E9E0D6;
}

body {
  	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-vertical-center {
  	display: table-cell;
  	vertical-align: middle;
}

/* Header */
.header {
	position: relative;
  	display: table;
  	width: 100%;
  	height: 100%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Name RLPD TH */
.RLPD {
	font-family: 'Trirong', serif;
	font-size: xx-large;
	font-weight: bold;
	color: #29ABA4;
}