/***** Login Page *****/
/* Global Styles */
body {
  	background-color: #E9E0D6;
}

body {
  	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-vertical-center {
    display: table-cell;
  	vertical-align: middle;
}

/* Header */
.header {
	position: relative;
  	display: table;
  	width: 100%;
  	height: 100%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Name RLPD TH */
.rlpd {
  font-family: 'Trirong', serif;
  font-size: xx-large;
  font-weight: bold;
  color: #29ABA4;
}
.rlpd2 {
	font-family: 'Trirong', serif;
	font-size: 28px;
  text-align: left;
  margin-bottom: 25px;
  font-weight: 300;
	color: #29ABA4;
}
/***** End Login Page *****/

/***** Dashboard *****/
/* Name RLPD TH */
.nameth {
  font-family: 'Trirong', serif;
  font-size: 5px;
  color: #fff;
}
/***** End Dashboard *****/